.about-title {
  color: #101010;
  text-shadow: -1px -1px 0 #eaeaea, 1px -1px 0 #eaeaea, -1px 1px 0 #eaeaea,
    1px 1px 0 #eaeaea;
}

.skill-be,
.skill-algo,
.skill-ml {
  font-size: 0;
}

.label-be:hover .skill-be {
  animation: showText 0.5 ease-in-out forwards;
}

.label-algo:hover .skill-algo {
  animation: showText 0.5 ease-in-out forwards;
}

.label-ml:hover .skill-ml {
  animation: showText 0.5 ease-in-out forwards;
}

@keyframes showText {
  0% {
    dipslay: none;
    font-size: 12px;
  }
  100% {
    display: block;
    font-size: 12px;
  }
}
